@import "./config";

.btn {
 background-color: transparent;
 border: 1px solid $darkColor;
 border-radius: 0.2rem;
 font-size: 1.5rem;
 letter-spacing: 0.1rem;
 font-weight: 400;
 width: 14.5rem;
 height: 3.85rem;
 cursor: pointer;
 transition: all 0.3s ease-in;
 a {
  color: $darkColor;
 }
 &:hover {
  background-color: $darkColor;
  color: white;

  a {
   color: white;
  }
 }
}

.btn--active {
 background-color: $darkColor;
 color: white;

 a {
  color: white;
 }
}

.btn--accent {
 background-color: $accentColor;
 border: none;
 a {
  color: #fff;
 }
}

.btn--small {
 width: 11.75rem;
 height: 3rem;
 font-size: 1.35rem; //22px
}

.btn--mini {
 width: 7rem;
 height: 2rem;
 font-size: 0.9rem; //22px
}

.skills__card {
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 1.5rem 0;
 gap: 1rem;
 background-color: $lightColor;
 border: 1px solid $secondaryColor;
 border-radius: 0.2rem;
 position: relative;
 width: 11.35rem; //182px
 h5 {
  position: absolute;
  right: 0;
  top: -1rem;
 }
 img {
  width: 40%;
 }
}
