@import "./config";
@import "./global";
@import "./components";

#contato {
 height: max-content;
 width: 100vw;
 @include breakpoint(md) {
  width: 90%;
  margin: auto;
 }
 @include breakpoint(xl) {
  height: 100vh;
  scroll-snap-align: start;
 }

 #submit__message {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 50px;
  color: $darkColor;
  animation: all 4s ease forwards;
 }
 .contact__container {
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 5vh;

  @include breakpoint(xl) {
   flex-direction: row;
   width: 70vw;
   margin: auto;
   margin-top: 1vh;
  }
 }
 form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;

  @include breakpoint(md) {
   width: 65vw;
   margin: auto;
  }

  @include breakpoint(xl) {
   width: 40%;
  }
 }
 #name,
 #email,
 #message,
 .contact__card {
  border-radius: 4px;
  border: 1px solid $secondaryColor;
  padding: 0.5rem;
  background-color: transparent;
 }

 #message {
  height: 15vh;
  margin-bottom: 2rem;
  @include breakpoint(md) {
   height: 20vh;
  }
 }

 label {
  color: $greyColor;
  margin-top: 1rem;
 }

 .contact__info {
  width: 80vw;
  text-align: center;
  letter-spacing: 0.2rem;
  margin: auto;
  @include breakpoint(md) {
   width: 50vw;
  }
  @include breakpoint(xl) {
   width: 35%;
  }
 }

 .contact__card {
  padding: 2rem;
  margin: 1.5rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  textarea {
   resize: none;
   height: 1.25rem;
   width: 100%;
   font-family: $fira;
   background-color: transparent;
  }
 }

 .contact__text {
  color: $darkColor;
  border: none;
  resize: none;
  display: block;
  text-align: center;
  margin: auto;
  letter-spacing: 0.2rem;
  height: 1.5rem;
  width: 80%;
 }
 .contact__link {
  color: $accentColor;
  font-size: 1.3vh;
 }

 .contact__icon {
  position: absolute;
  top: -10px;
  left: -10px;
  font-size: 2rem;
  color: $primaryColor;
 }

 .tooltip {
  position: relative;
  display: inline-block;
  .tooltiptext {
   visibility: hidden;
   width: 8rem;
   background-color: $primaryColor;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 0.25rem;
   position: absolute;
   z-index: 1;
   top: 150%;
   opacity: 0;
   transition: opacity 0.3s;
  }
  &:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
  }
 }
}
