//Colors
$primaryColor: #74b6f4;
$secondaryColor: #a472fa;
$accentColor: radial-gradient(circle farthest-corner at 10% 20%, rgba(171, 102, 255, 1) 0%, rgba(116, 182, 247, 1) 90%);
$darkColor: #1d3557;
$greyColor: #777182;
$lightColor: #eef7fa;

//Font-Family
$notoSans: "Noto Sans JP", sans-serif;
$fira: "Fira Sans", sans-serif;
$firaC: "Fira Sans Condensed", sans-serif;

// Media queries
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

@mixin breakpoint($point) {
 @if $point == sm {
  @media (min-width: 576px) {
   @content;
  }
 }
 @if $point == md {
  @media (min-width: 768px) {
   @content;
  }
 }
 @if $point == lg {
  @media (min-width: 992px) {
   @content;
  }
 }
 @if $point == xl {
  @media (min-width: 1200px) {
   @content;
  }
 }
 @if $point == xxl {
  @media (min-width: 1400px) {
   @content;
  }
 }
}

@mixin clampmd-lg {
 @media (min-width: 550px) and (max-width: 1200px) {
  @content;
 }
}
