@import "./config";

nav {
 position: fixed;
 z-index: 222;
 bottom: 0;
 width: 100vw;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 2rem;
 background-color: #fff;
 height: 3.65rem;
 @include breakpoint(lg) {
  top: 0;
  justify-content: end;
  background-color: $lightColor;
 }
}

.nav__icon {
 fill: $primaryColor;
 @include breakpoint(lg) {
  display: none;
 }

 &--active {
  fill: $darkColor;
 }
}

.nav__links {
 display: none;
 color: $primaryColor;
 &--active {
  color: $darkColor;
 }
 @include breakpoint(lg) {
  display: inline-block;
 }
}
