.portfolio__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;

    @include breakpoint(md) {
        margin-bottom: 8vh;
        flex-direction: row;
        width: 90%;
    }
    @include breakpoint(xl) {
        margin-bottom: 0;
        scroll-snap-align: start;
        height: 100vh;
    }
}

.portfolio__info {
    width: 90%;

    h6 {
        margin-bottom: 2vh;
    }

    .tags {
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
        margin-bottom: 4vh;

        .tag1,
        .tag2,
        .tag3 {
            background-color: $primaryColor;
            padding: 0.2rem 0.4rem;
            border-radius: 0.25rem;
            color: white;
            font-size: 0.9rem;
        }
    }

    @include breakpoint(md) {
        margin-top: 5rem;
        width: 50%;
    }
}

.portfolio__links {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin: auto;
    @include breakpoint(md) {
        margin-left: 0;
        gap: 0.25rem;
    }
}

li a {
    color: $accentColor;
    text-transform: uppercase;
    font-weight: 900;
}

.portfolio__imgs {
    display: block;
    position: relative;
    width: 90%;
    height: 90vh;
    margin: auto;
    margin-top: 3vh;

    img {
        position: absolute;
        width: 45%;
    }

    #trouble1 {
        top: 0;
        right: 0;
        z-index: 3;
    }
    #trouble2 {
        top: 80px;
        z-index: 1;
    }
    #trouble3 {
        top: 450px;
        right: 50px;
        z-index: 2;
    }
    #trouble4 {
        top: 320px;
        left: 0;
        width: 100%;
    }
    #freshii1 {
        width: 100%;
        top: 400px;
    }
    #freshii2 {
        width: 45%;
        z-index: 1;
    }
    #freshii3 {
        width: 45%;
        right: 0;
        top: 150px;
        z-index: 2;
    }
    #eletrica1 {
        top: 620px;
        left: 0;
        width: 80%;
    }
    #eletrica2 {
        top: 230px;
        z-index: 2;
    }
    #eletrica3 {
        top: 350px;
        right: 0px;
        z-index: 3;
    }
    #eletrica4 {
        top: 50px;
        right: 0;
        width: 100%;
        z-index: 1;
    }

    @include breakpoint(md) {
        margin-top: 0;
        height: max-content;

        img {
            width: 23%;
        }

        #trouble1 {
            right: 30%;
            top: 200px;
        }
        #trouble2 {
            top: 350px;
            left: -10%;
        }
        #trouble3 {
            right: 0;
            top: 400px;
        }
        #trouble4 {
            width: 100%;
            bottom: 0px;
        }
        #freshii3 {
            width: 25%;
            top: 300px;
            right: 5%;
        }
        #freshii2 {
            right: 30%;
            width: 25%;
            top: 200px;
        }
        #freshii1 {
            width: 65%;
            left: -8%;
            top: 350px;
        }
        #eletrica1 {
            top: 400px;
            left: 100px;
            width: 60%;
        }
        #eletrica2 {
            top: 300px;
            z-index: 2;
        }
        #eletrica3 {
            top: 200px;
            right: 50px;
            z-index: 3;
        }
        #eletrica4 {
            top: 100px;
            right: 0;
            width: 90%;
            z-index: 1;
        }
    }

    @include breakpoint(xl) {
        #trouble1 {
            top: 100px;
        }
        #freshii2 {
            top: 150px;
        }
        #eletrica1 {
            top: 500px;
            left: 0;
            width: 60%;
        }
        #eletrica2 {
            top: 80px;
            z-index: 2;
        }
        #eletrica3 {
            top: 400px;
            right: 50px;
            z-index: 3;
        }
        #eletrica4 {
            top: 100px;
            right: 0;
            width: 90%;
            z-index: 1;
        }
    }
}
